.login_form {font-size: 16px;height: auto;padding: 10px 15px;box-shadow: none;border-radius: 0;border: 0;}
.modal-backdrop {background-color:#FFF;}
.modal-backdrop.in {opacity: .8;}

#wrap {position: relative;width:100%;height:100%;overflow:hidden;overflow-y: auto}
#wrap #p_wrap_company {position:absolute;top:0;left:0;padding:10px;font-size:20px;font-weight:700;color:#999}
#wrap #container {position:absolute;width:300px;height: 480px;top:50%;left:50%;margin-top: -290px;margin-left:-150px;padding: 20px;border-radius: 20px;background-color: RGBA(255,255,255,0.7);color: #868686;}
#wrap #container #p_container_logo {font-size: 40px;font-weight: 700;margin-bottom: 20px}
#wrap #container #p_container_logo i {font-size: 150px;}
#wrap #container #div_container_form {background-color:#fff;border: 5px solid #f1f1f1;border-radius: 10px;padding: 5px 10px;}
#wrap #container #div_container_form #input_container_id {border-bottom: 1px solid #E5E5E5;}
#wrap #container #btn_container_login {width: 100%;margin-top: 10px;font-size: 16px;font-weight: 500;color: #fff;background-color: #18AAA0;}
#wrap #container hr {margin-top: 15px;margin-bottom: 10px;border-top: 1px solid #aaa;}
#wrap #container #span_container_join {font-weight:700;cursor:pointer}
#wrap #container #span_container_join:hover {color:#333}

#JoinModal .modal-dialog {width:400px;}
#JoinModal .modal-dialog .modal-content {border-radius: 0;margin-top: 30%;box-shadow: none;}
#JoinModal .modal-dialog .modal-content .modal-body {background-color: #FFF;}
#JoinModal .modal-body hr {margin-top: 10px;margin-bottom: 10px;border: 0;border-top: 1px solid #ccc;}
#JoinModal .modal-body .join-info { position: absolute; right: 30px; background-color: transparent;}
#JoinModal .modal-body .join-info i {font-size: 18px;}
#JoinModal .modal-body .join-info i.success {color:#2ecc71}
#JoinModal .modal-body .join-info i.fail {color:#e74c3c}
#JoinModal .modal-body #btn_join_chkid { color: #95a5a6; top: 30px; }
#JoinModal .modal-body #btn_join_chkpw { color: #95a5a6; top: 88px; }
#JoinModal .modal-body #btn_join_chkpw_ { color: #95a5a6; top: 146px; }
#JoinModal .modal-body #btn_join_chkemail { color: #95a5a6; top: 283px; }
#JoinModal .modal-body .join-form {font-size: 14px;width: 100%;height: 48px;margin-bottom: 10px;padding: 12px 6px 12px 10px;border: 1px solid #ccc;background-color: #fff;line-height: 14px;box-sizing: border-box;}
#JoinModal .modal-body .btn_submit {font-size: 15px;color: #fafafa;border: 0;border-radius: 5px;background-color: #2ecc71;width: 100%;margin: 19px 0 0 0;padding: 14px 0px;cursor: pointer;}
#JoinModal .modal-dialog .btn_close {position: absolute;top: -31px;right: 0;width: 26px;height: 26px;font-size: 26px;line-height: 26px;text-align: center;color: #aaa;}
#JoinModal .modal-dialog .btn_close i {font-size: 26px;text-align: center;color: #aaa;}
#JoinModal .modal-dialog .div_list_school {position: absolute;top: 474px;width: 368px;z-index: 100;border:1px solid #bbb;background-color: #fff;display:none}
#JoinModal .modal-dialog .div_list_school li {font-size: 14px;font-weight: 700;line-height: 35px;padding: 0 10px;border-bottom: 1px solid #ddd;cursor: pointer;}
#JoinModal .modal-dialog .div_list_school li:hover {background-color: #f5f5f5;}
#JoinModal .modal-dialog .div_list_school li.no-data {text-align:center;border: 0;font-weight: normal;cursor: default;}
#JoinModal .modal-dialog .div_list_school li.no-data:hover {background-color: #fff;}