<!DOCTYPE html>
<html lang="kr">
<head>
    <title>7o'clock - 멀티 커뮤니케이션 학습 서비스</title>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="모두를 위한 수학은 학생과 선생님, 수학을 하고자하는 모두에게 의미있는 변화를 만들어가고 있습니다. 선생님들은 기존의 수업방식에 새로운 혁신을 더할 수 있죠. 또한 학생들은 더 나은 학습을 할 수 있으며, 그 과정에서 생긴 고민을 언제 어디서든 해결할 수 있습니다.">
    <meta name="keywords" content="수학, 질문, 학습, 문제">
    <meta name="author" content="ThemeWagon">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--favicon-->
    <link rel="shortcut icon" href="/static/about/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/about/img/favicon.ico" type="image/x-icon">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/about/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/xeicon/1.0.4/xeicon.min.css">

    <link rel="stylesheet" href="/static/about/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/about/css/owl.theme.css">

    <link rel="stylesheet" href="/static/about/css/nivo-lightbox/nivo-lightbox.css">
    <link rel="stylesheet" href="/static/about/css/nivo-lightbox/nivo-lightbox-theme.css">

    <link rel="stylesheet" href="/static/about/css/animate.css">
    <link rel="stylesheet" href="/static/about/css/style.css">

    <link rel="stylesheet" href="/static/about/css/colors/cyan.css">

    <link rel="stylesheet" href="/static/about/css/about.css">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>

    <!-- Modernizr to provide HTML5 support for IE. -->
    <script src="/static/about/js/modernizr.custom.js"></script>


</head>
<body id="home">

<!-- ****************************** Preloader ************************** -->
<div id="preloader"></div>


<!-- ****************************** Sidebar ************************** -->
<nav id="sidebar-wrapper">
    <a id="menu-close" href="#" class="close-btn toggle">CLOSE <i class="xi-close"></i></a>
    <ul class="sidebar-nav">
        <li><a href="#home">Home</a></li>
        <li><a href="#video">Video</a></li>
        <li><a href="#bigfeatures">Features</a></li>
        <li><a href="#features">Specialty</a></li>
        <li><a href="#features-left-image">With Image</a></li>
        <li><a href="#gallery">Screenshots</a></li>
        <li><a href="#testimonial">Testimonial</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#subscribe">Subscribe</a></li>
        <li><a href="#contact">Contact us</a></li>
    </ul>
</nav>


<!-- ****************************** Header ************************** -->
<header class="sticky" id="header">
    <div class="container">
        <div class="row" id="logo_menu">
            <div class="col-xs-6"><a href=""><img class="logo" src="/static/about/img/logo.png"></a></div>
            <div class="col-xs-6"><a id="menu-toggle" href="#" class="toggle" role="button" title="메뉴" data-toggle="tooltip" data-placement="left"><i class="xi-bars"></i></a></div>
        </div>
    </div>
</header>



<!-- ****************************** Banner ************************** -->
<section id="banner" >

    <video autoplay loop muted id="video-background" preload="metadata">
        <source src="/static/about/video/video.webm" type="/static/about/video/webm"></source>
        <source src="/static/about/video/video.mp4" type="/static/about/video/mp4"></source>
        <source src="/static/about/video/video.ogv" type="/static/about/video/ogv"></source>
    </video>

    <div class="banner-overlay"></div>
    <div class="container">
        <a class="slidedown wow animated zoomIn" data-wow-delay="2s" href="#video"><i class="ion-ios-download-outline"></i></a>
        <div class="row">
            <div class="col-md-6">
                <div class="headings">
                    <h1 class="wow animated fadeInDown"><img class="app_logo" src="/static/about/img/app_logo.png"></h1>
                    <p class="wow animated fadeInLeft"><strong>모두를 위한 수학</strong>은 학생과 선생님, 수학을 하고자하는 모두에게 의미있는 변화를 만들어가고 있습니다. 선생님들은 기존의 수업방식에 새로운 혁신을 더할 수 있죠. 또한 학생들은 더 나은 학습을 할 수 있으며, 그 과정에서 생긴 고민을 언제 어디서든 해결할 수 있습니다.</p>

                    <a href="https://play.google.com/store/apps/details?id=net.sevenoclock.mobile" target="_blank" class="btn btn-store wow animated bounceInUp">
                        <i class="fa fa-android"></i>
                        <span>앱 다운받기&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br/>
                        Google Play
                    </a>
                    <a href="#credits" target="_blank" class="btn btn-store wow animated bounceInUp">
                        <i class="fa fa-envelope-square"></i>
                        <span>캠페인 참여&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br/>
                        Campaign
                    </a>
                    <div id="credits" class="hidden">
                        <form data-toggle="validator" id="frm_letter" role="form" method="post" action="/about/campaign">
                            {% csrf_token %}
                            <div class="control-group">
                                <div class="form-group">
                                    <label for="address" class="control-label">학교 주소</label>
                                    <input type="text" class="form-control" id="address" placeholder="주소" data-error="주소를 입력하세요." required />
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label for="fromNm" class="control-label">보내는 사람</label>
                                    <input type="text" class="form-control" id="fromNm" placeholder="보내는 사람" data-error="보내는 사람 이름을 입력하세요." required />
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label for="toNm" class="control-label">받는 사람</label>
                                    <input type="text" class="form-control" id="toNm" placeholder="받는 사람" data-error="받는 사람 이름을 입력하세요." required />
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label for="msgLetter" class="control-label">내용</label>
                                    <textarea class="form-control form-fixer" id="msgLetter" rows="10" placeholder="내용" data-error="내용을 입력하세요." required></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" id="btn_send_submit">보내기</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Campaign Modal -->
                    <div class="modal fade" id="schoolModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">학교주소 찾기</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="control-group" id="1">
                                        <ul id="2">
                                            {% for school in schools|slice:":4" %}
                                                <li class="" sid="{{ school.id }}"><span class="">{{ school.name }}</span> <span class="">{{ school.address }}</span></li>
                                            {% endfor %}
                                            <li class="no-data">총 {{ schools|length }}개의 학교가 검색되었습니다.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                    <button type="button" class="btn btn-primary">적용</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
            </div>
            <div class="col-md-6 hidden-xs hidden-sm">
                <div class="hand-container">
                    <img class="android-hand img_res wow animated bounceInUp" data-wow-duration="1.2s" src="/static/about/img/android_hand.png" alt="">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ****************************** Video section ************************** -->
<section id="video" class="block">
    <div class="container">

        <div class="title-box">
            <h1 class="block-title wow animated zoomIn">
                <span class="bb-top-left"></span>
                <span class="bb-bottom-left"></span>
                7o'clock
                <span class="bb-top-right"></span>
                <span class="bb-bottom-right"></span>
            </h1>
        </div>

        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 wow animated bounceInUp">
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6YbTFUGM72I" frameborder="0" allowfullscreen></iframe>
                </div>
                <p class="text-center italic">
                    <strong>7o'clock은 교육의 새로운 생태계를 만들어 갑니다.</strong>
                </p>
            </div>
        </div>
    </div>
</section>


<!-- ****************************** Big Features section ************************** -->
<section id="bigfeatures" class="img-block-3col block">

    <div class="container">

        <div class="title-box">
            <h1 class="block-title wow animated zoomIn">
                <span class="bb-top-left"></span>
                <span class="bb-bottom-left"></span>
                모두를 위한 수학
                <span class="bb-top-right"></span>
                <span class="bb-bottom-right"></span>
            </h1>
        </div>


        <div class="row">
            <div class="col-sm-4">
                <ul class="item-list-right item-list-big">
                    <li class="wow fadeInLeft animated"> <i class="xi-share-alt"></i>
                        <h3>교육, 모두가 연결된 세상</h3>
                        <p>우리는 교육의 새로운 생태계를 만들어 갑니다. 누구나 문제를 출제할 수 있고, 누구나 질문과 답변을 할 수 있습니다. [모두를 위한 수학]이 "모두를 위한 수학"을 만듭니다.</p>
                    </li>
                    <li class="wow fadeInLeft animated"> <i class="xi-file-check"></i>
                        <h3>쉬운 출제 및 채점</h3>
                        <p>단 한번의 클릭으로 문제를 출제합니다. 직관적인 UI를 통해 원하는 유형을 한눈에 파악하며 복잡한 절차를 과감히 생략하여 단 한 번의 클릭으로 학생들의 앱에 출제문제를 연동시킬 수 있습니다.</p>
                    </li>
                    <li class="wow fadeInLeft animated"> <i class="xi-db-full"></i>
                        <h3>방대한 문제 데이터</h3>
                        <p>무제한에 가까운 유형 반복 출제가 가능합니다. 총 1,200,000가지 문항 수록으로 무제한에 가까운 유형문제 출제를 통해 학생들의 유형훈련 학습을 가능하게 합니다.</p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 col-sm-push-4">
                <ul class="item-list-left item-list-big">
                    <li class="wow fadeInRight animated"> <i class="xi-chart-pyramid"></i>
                        <h3>문제, 해설, 동영상</h3>
                        <p>수준급 강사의 문제해설 강의가 탑재되어 있습니다. 모든 문항마다 수준급 현직 강사의 손글씨 문제해설 강의가 탑재되어 마치 개인 과외 선생님이 항시 대기 하고 있는 것과 같은 기분을 느낄 수 있습니다.</p>
                    </li>
                    <li class="wow fadeInRight animated"> <i class="xi-comments"></i>
                        <h3>실시간 질문과 답변</h3>
                        <p>언제 어디서든 모르는 문제를 해결 할 수 있습니다. 실시간 질문과 답변 기능을 통해 새벽 1시에도 모르는 문제를 질문 할 수 있으며 누구든 질문에 대한 답변을 할 수 있습니다. 여러분도 누군가의 선생님이 되실 수 있습니다.</p>
                    </li>
                    <li class="wow fadeInRight animated"> <i class="xi-community"></i>
                        <h3>교육을 위한 커뮤니티</h3>
                        <p>모두를 위한 모두가 연결된 커뮤니티를 구현합니다. 오프라인 상의 선생님과 학생의 상하 수직관계가 아닌 선생님도 학생도 온라인 상에서 자유롭게 대화할 수 있는 수평적 커뮤니티를 구현합니다.</p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 col-sm-pull-4 text-center">
                <div class="animation-box wow bounceIn animated">
                    <img class="screen" src="/static/about/img/features_screen.png" alt="" height="581" width="300">
                </div>
            </div>
        </div>
    </div>
</section>


{#<!-- ****************************** Specialty section ************************** -->#}
{#<section id="features" class="block">#}
{#    <div class="container">#}
{#        <div class="title-box">#}
{#            <h1 class="block-title wow animated zoomIn">#}
{#                <span class="bb-top-left"></span>#}
{#                <span class="bb-bottom-left"></span>#}
{#                Specialty#}
{#                <span class="bb-top-right"></span>#}
{#                <span class="bb-bottom-right"></span>#}
{#            </h1>#}
{#        </div>#}
{##}
{#        <div class="row">#}
{#            <div class="col-sm-6 col-md-4">#}
{#                <div class="feature-box wow animated flipInX animated">#}
{#                    <i class="ion-android-options"></i>#}
{#                    <h2>Tune up</h2>#}
{#                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-sm-6 col-md-4">#}
{#                <div class="feature-box wow animated flipInX animated">#}
{#                    <i class="ion-android-unlock"></i>#}
{#                    <h2>Security</h2>#}
{#                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-sm-6 col-md-4">#}
{#                <div class="feature-box wow animated flipInX animated">#}
{#                    <i class="ion-nuclear"></i>#}
{#                    <h2>Firewall</h2>#}
{#                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="clearfix"></div>#}
{#    </div>#}
{#</section>#}


<!-- ****************************** Left Image section ************************** -->
<section id="features-left-image" class="block">
    <div class="container">

        <div class="row">
            <div class="col-sm-6 wow fadeInLeft animated">
                <div class="phone-image">
                    <img class="img-responsive" src="/static/about/img/2-android-left.png" alt="">
                </div>
            </div><!--/col-sm-6-->

            <div class="col-sm-6 wow fadeInRight animated">

                <div class="title-box text-left">
                    <h1 class="block-title wow animated zoomIn">
                        <span class="bb-top-left"></span>
                        <span class="bb-bottom-left"></span>
                        모두를 위한 수학 <br/><span class="small">for Student</span>
                        <span class="bb-top-right"></span>
                        <span class="bb-bottom-right"></span>
                    </h1>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p>스마트폰을 통해 누구나 원하는 유형의 문제를 받아서 풀어 볼 수 있고, 모르는 문제는 언제 어디서나 동영상 해설을 시청하며 공부할 수 있습니다. 문제집을 풀다가 또 모르는 문제가 생기면 실시간 질문하기 기능을 통해 새벽 1시라도 질문하고 답변을 받아 볼 수 있습니다. 학생이라면 누구나 꿈꿔 왔던 일이 [모두를 위한 수학]을 통해 현실이 됩니다.</p>
                        <ul class="feature-list">
                            <li><i class="xi-paper"></i> 유형 출제 문제를 받아 볼 수 있습니다.</li>
                            <li><i class="xi-lecture"></i> 각 문항의 지면해설과 동영상 해설을 볼 수 있습니다.</li>
                            <li><i class="xi-comments"></i> 실시간 질문하기를 통해 언제 어디서든 질문과 답변을 할 수 있습니다.</li>
                            <li><i class="xi-download-my"></i> 중요한 유형의 문제를 저장해 놓고 언제 어디서든 확인할 수 있습니다.</li>
                        </ul>
                    </div>
                </div>
            </div><!--/col-sm-6-->

        </div><!--/row-->

    </div><!--/container-->
</section>


<!-- ****************************** Right Image section ************************** -->
<section id="features-right-image" class="block">
    <div class="container">

        <div class="row">
            <div class="col-sm-6 wow fadeInLeft animated">
                <div class="title-box text-left">
                    <h1 class="block-title wow animated zoomIn">
                        <span class="bb-top-left"></span>
                        <span class="bb-bottom-left"></span>
                        모두를 위한 수학 <br/><span class="small">for Teacher</span>
                        <span class="bb-top-right"></span>
                        <span class="bb-bottom-right"></span>
                    </h1>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p class="mb50">WEB 상의 직관적인 UI를 통해 원하는 유형의 문제를 쉽게 찾아 출제할 수 있으며, 단 한번의 클릭으로 학생들의 스마트 폰에 출제문제를 연동시킬 수 있습니다. APP에서 지원되는 해설동영상으로 인해 특히 시험대비기간 쏟아지는 학생들의 질문에 대한 대처가 한결 쉬워집니다. 또한, 관심학교 등록기능으로 원하는 학교의 학생들의 질문에 답변을 해 줌으로서 자신의 학원홍보로 활용할 수도 있습니다.</p>
                        <ul class="feature-list text-right">
                            <li>쉬운 문제 출제방식으로 온라인 문제선별과 출제의 시간을 절약할 수 있습니다. <i class="xi-time-forward"></i></li>
                            <li>단 한번의 클릭으로 스마트 폰으로 문제출제를 연동시킬 수 있습니다. <i class="xi-mobile"></i></li>
                            <li>관심학교 등록을 통해 자신의 학원홍보에 활용할 수 있습니다. <i class="xi-announce"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!--/col-sm-6-->

            <div class="col-sm-6 wow fadeInRight animated">
                <div class="phone-image">
                    <img class="img-responsive" src="/static/about/img/2-iphone-right.png" alt="">
                </div>
            </div><!--/col-sm-6-->
        </div><!--/row-->

    </div><!--/container-->
</section>


<!-- ****************************** Gallery section ************************** -->
<section id="gallery" class="block">
    <div class="container">

        <div class="title-box">
            <h1 class="block-title wow animated zoomIn">
                <span class="bb-top-left"></span>
                <span class="bb-bottom-left"></span>
                Screenshots
                <span class="bb-top-right"></span>
                <span class="bb-bottom-right"></span>
            </h1>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div id="screenshot_devices"><i class="xi-laptop" id="btn_screenshots_web"></i> <i class="xi-mobile" id="btn_screenshots_app"></i></div>
                <div id="screenshots_web" class="owl-carousel owl-theme">
                    <a href="/static/about/img/screenshots_web/1.png" class="item" data-lightbox-gallery="screenshots_web">
                        <img src="/static/about/img/screenshots_web/1.png" class="img_res wow animated zoomIn" alt="">
                    </a>
                    <a href="/static/about/img/screenshots_web/2.png" class="item" data-lightbox-gallery="screenshots_web">
                        <img src="/static/about/img/screenshots_web/2.png" class="img_res wow animated zoomIn" alt="">
                    </a>
                    <a href="/static/about/img/screenshots_web/3.png" class="item" data-lightbox-gallery="screenshots_web">
                        <img src="/static/about/img/screenshots_web/3.png" class="img_res wow animated zoomIn" alt="">
                    </a>
                    <a href="/static/about/img/screenshots_web/4.png" class="item" data-lightbox-gallery="screenshots_web">
                        <img src="/static/about/img/screenshots_web/4.png" class="img_res wow animated zoomIn" alt="">
                    </a>
                    <a href="/static/about/img/screenshots_web/5.png" class="item" data-lightbox-gallery="screenshots_web">
                        <img src="/static/about/img/screenshots_web/5.png" class="img_res wow animated zoomIn" alt="">
                    </a>
                    <a href="/static/about/img/screenshots_web/6.png" class="item" data-lightbox-gallery="screenshots_web">
                        <img src="/static/about/img/screenshots_web/6.png" class="img_res wow animated zoomIn" alt="">
                    </a>
                    <a href="/static/about/img/screenshots_web/7.png" class="item" data-lightbox-gallery="screenshots_web">
                        <img src="/static/about/img/screenshots_web/7.png" class="img_res wow animated zoomIn" alt="">
                    </a>
                    <a href="/static/about/img/screenshots_web/8.png" class="item" data-lightbox-gallery="screenshots_web">
                        <img src="/static/about/img/screenshots_web/8.png" class="img_res wow animated zoomIn" alt="">
                    </a>
                    <a href="/static/about/img/screenshots_web/9.png" class="item" data-lightbox-gallery="screenshots_web">
                        <img src="/static/about/img/screenshots_web/9.png" class="img_res wow animated zoomIn" alt="">
                    </a>
                </div>
                <div id="screenshots_app" class="owl-carousel owl-theme">
                    <a href="/static/about/img/screenshots_app/1.png" class="item" data-lightbox-gallery="screenshots_app">
                        <img src="/static/about/img/screenshots_app/1.png" class="img_res wow animated zoomIn" alt="">
                    </a>
                    <a href="/static/about/img/screenshots_app/2.png" class="item" data-lightbox-gallery="screenshots_app">
                        <img src="/static/about/img/screenshots_app/2.png" class="img_res wow animated zoomIn" alt="">
                    </a>
                    <a href="/static/about/img/screenshots_app/3.png" class="item" data-lightbox-gallery="screenshots_app">
                        <img src="/static/about/img/screenshots_app/3.png" class="img_res wow animated zoomIn" alt="">
                    </a>
                    <a href="/static/about/img/screenshots_app/4.png" class="item" data-lightbox-gallery="screenshots_app">
                        <img src="/static/about/img/screenshots_app/4.png" class="img_res wow animated zoomIn" alt="">
                    </a>
                    <a href="/static/about/img/screenshots_app/5.png" class="item" data-lightbox-gallery="screenshots_app">
                        <img src="/static/about/img/screenshots_app/5.png" class="img_res wow animated zoomIn" alt="">
                    </a>
                    <a href="/static/about/img/screenshots_app/6.png" class="item" data-lightbox-gallery="screenshots_app">
                        <img src="/static/about/img/screenshots_app/6.png" class="img_res wow animated zoomIn" alt="">
                    </a>
                    <a href="/static/about/img/screenshots_app/7.png" class="item" data-lightbox-gallery="screenshots_app">
                        <img src="/static/about/img/screenshots_app/7.png" class="img_res wow animated zoomIn" alt="">
                    </a>
                    <a href="/static/about/img/screenshots_app/8.png" class="item" data-lightbox-gallery="screenshots_app">
                        <img src="/static/about/img/screenshots_app/8.png" class="img_res wow animated zoomIn" alt="">
                    </a>
                    <a href="/static/about/img/screenshots_app/9.png" class="item" data-lightbox-gallery="screenshots_app">
                        <img src="/static/about/img/screenshots_app/9.png" class="img_res wow animated zoomIn" alt="">
                    </a>
                </div>
                <div class="customNavigation">
                    <a class="btn prev gallery-nav wow animated bounceInLeft"><i class="xi-angle-left"></i></a>
                    <a class="btn next gallery-nav wow animated bounceInRight"><i class="xi-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ****************************** Testimonial ************************** -->
<section id="testimonial" class="block">
    <div class="banner-overlay"></div>

    <div class="container">
        <div id="review" class="owl-carousel owl-theme wow animated bounceInUp">
            <div class="item">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="client-pic"><img class="img_res" src="/static/about/img/client-two.png" alt=""></div>
                        <p class="review-star">
                            <i class="ion-star"></i>
                            <i class="ion-star"></i>
                            <i class="ion-star"></i>
                            <i class="ion-star"></i>
                            <i class="ion-star-outline"></i>
                        </p>
                        <p class="review-desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip.
                        </p>
                        <p class="client-name">
                            Shahjahan Jewel
                        </p>
                        <p class="client designation">CEO, Technext Inc.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-sm-6 col-md-offset-3">
                        <div class="client-pic"><img class="img_res" src="/static/about/img/client-three.png" alt=""></div>
                        <p class="review-star">
                            <i class="ion-star"></i>
                            <i class="ion-star"></i>
                            <i class="ion-star"></i>
                            <i class="ion-star"></i>
                            <i class="ion-star-outline"></i>
                        </p>
                        <p class="review-desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip.
                        </p>
                        <p class="client-name">
                            Jane Doe
                        </p>
                        <p class="client designation">CEO, Apple Inc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ****************************** Team section ************************** -->
<section id="team" class="block">
    <div class="container">
        <div class="title-box">
            <h1 class="block-title wow animated zoomIn">
                <span class="bb-top-left"></span>
                <span class="bb-bottom-left"></span>
                Development Team
                <span class="bb-top-right"></span>
                <span class="bb-bottom-right"></span>
            </h1>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-md-offset-1point5">
                <div class="team-member wow animated fadeIn" data-wow-delay="0.3s">
                    <div class="border-img">
                        <img src="/static/about/img/dev-2.jpg" class="img_res team-pic" alt="">
                        <div class="border"></div>
                    </div>
                    <h2 class="wow animated fadeInDown" data-wow-delay="0.7s">Jhon Doe</h2>
                    <p class="wow animated fadeIn" data-wow-delay="0.7s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul class="team-social">
                        <li class="wow animated fadeInLeft facebook"><a href="#"><i class="xi-facebook"></i></a></li>
                        <li class="wow animated fadeInRight github"><a href="#"><i class="xi-github"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="team-member wow animated fadeIn" data-wow-delay="0.3s">
                    <div class="border-img">
                        <img src="/static/about/img/dev-3.jpg" class="img_res team-pic" alt="">
                        <div class="border"></div>
                    </div>
                    <h2 class="wow animated fadeInDown" data-wow-delay="0.7s">Jane Doe</h2>
                    <p class="wow animated fadeIn" data-wow-delay="0.7s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul class="team-social">
                        <li class="wow animated fadeInLeft facebook"><a href="#"><i class="xi-facebook"></i></a></li>
                        <li class="wow animated fadeInRight github"><a href="#"><i class="xi-github"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="team-member wow animated fadeIn" data-wow-delay="0.3s">
                    <div class="border-img">
                        <img src="/static/about/img/dev-4.jpg" class="img_res team-pic" alt="">
                        <div class="border"></div>
                    </div>
                    <h2 class="wow animated fadeInDown" data-wow-delay="0.7s">Jhon Doe</h2>
                    <p class="wow animated fadeIn" data-wow-delay="0.7s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul class="team-social">
                        <li class="wow animated fadeInLeft facebook"><a href="#"><i class="xi-facebook"></i></a></li>
                        <li class="wow animated fadeInRight github"><a href="#"><i class="xi-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


{#<!-- ****************************** Pricing section ************************** -->#}
{#<section id="pricing" class="block">#}
{#    <div class="banner-overlay bg-color-grad"></div>#}
{#    <div class="container">#}
{#        <div class="title-box">#}
{#            <h1 class="block-title title-light wow animated zoomIn">#}
{#                <span class="bb-top-left"></span>#}
{#                <span class="bb-bottom-left"></span>#}
{#                Affordable Packages#}
{#                <span class="bb-top-right"></span>#}
{#                <span class="bb-bottom-right"></span>#}
{#            </h1>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-md-offset-2 col-md-8">#}
{#                <ul class="pricing-table">#}
{#                    <li class="wow flipInY animated" style="visibility: visible;">#}
{#                        <h3>Standard</h3>#}
{#                        <span> $2.99 <small>per month</small> </span>#}
{#                        <ul class="benefits-list">#}
{#                            <li>Responsive</li>#}
{#                            <li>Documentation</li>#}
{#                            <li class="not">Multiplatform</li>#}
{#                            <li class="not">Video background</li>#}
{#                            <li class="not">Support</li>#}
{#                        </ul>#}
{#                        <a href="#" target="_blank" class="buy"><i class="ion-ios-cart-outline"></i></a>#}
{#                    </li>#}
{#                    <li class="gold wow flipInY animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">#}
{#                        <div class="stamp"><i class="ion-android-star-outline"></i>Best choice</div>#}
{#                        <h3>Gold</h3>#}
{#                        <span> $7.99 <small>per month</small> </span>#}
{#                        <ul class="benefits-list">#}
{#                            <li>Responsive</li>#}
{#                            <li>Documentation</li>#}
{#                            <li>Multiplatform</li>#}
{#                            <li>Video background</li>#}
{#                            <li>Support</li>#}
{#                        </ul>#}
{#                        <a href="#" target="_blank" class="buy"> <i class="ion-ios-cart-outline"></i></a>#}
{#                    </li>#}
{#                    <li class="silver wow flipInY animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">#}
{#                        <h3>Sliver</h3>#}
{#                        <span> $4.99 <small>per month</small> </span>#}
{#                        <ul class="benefits-list">#}
{#                            <li>Responsive</li>#}
{#                            <li>Documentation</li>#}
{#                            <li>Multiplatform</li>#}
{#                            <li class="not">Video background</li>#}
{#                            <li class="not">Support</li>#}
{#                        </ul>#}
{#                        <a href="#" target="_blank" class="buy"> <i class="ion-ios-cart-outline"></i></a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}
{##}
{##}
{#<!-- ****************************** Subscribe section ************************** -->#}
{#<section id="subscribe" class="block">#}
{#    <div class="banner-overlay" style="background: rgba(255, 255, 255, 0.8)"></div>#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-sm-10 col-sm-offset-1">#}
{#                <p class="susbcribe-text">#}
{#                    <strong>Subscribe to our email list to get the latest update about our amazing app</strong>#}
{#                    <br/>Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,#}
{#                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo#}
{#                    consequat.</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="container subscribe-wrap">#}
{#        <div class="row">#}
{#            <div class="col-sm-12 wow animated bounceInUp">#}
{#                <form role="form" class="mailchimp">#}
{##}
{#                    <div class="input-group">#}
{#                        <input type="email" name="email" id="subscriber-email" class="form-control" placeholder="Your Email Address">#}
{#						  <span class="input-group-btn">#}
{#						    <button class="btn btn-custom" type="submit" id="subscribe-button">GET UPDATES</button>#}
{#						  </span>#}
{#                    </div><!-- /input-group -->#}
{##}
{#                    <!-- SUCCESS OR ERROR MESSAGES -->#}
{#                    <span class="subscription-success"></span>#}
{#                    <span class="subscription-error"></span>#}
{##}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}


<!-- ****************************** Contact section ************************** -->
<section id="contact" class="block">
    <div class="container">
        <div class="title-box">
            <h1 class="block-title wow animated zoomIn">
                <span class="bb-top-left"></span>
                <span class="bb-bottom-left"></span>
                Contact Us
                <span class="bb-top-right"></span>
                <span class="bb-bottom-right"></span>
            </h1>
        </div>
        <div class="row">
            <div class="col-sm-4 address wow fadeInLeft animated">
                <ul class="address-list">
                    <li><i class="ion-location"></i> <span>1537 Flint Street <br>Tumon, MP 96911</span></li>
                    <li><i class="ion-android-call"></i> <span>670-898-2847 </span></li>
                    <li><i class="ion-email"></i> <span>info@domain.com</span></li>
                    <li><i class="ion-earth"></i> <span>www.themewagon.com</span></li>
                </ul>
            </div><!-- address -->
            <div class="col-sm-8 mailbox wow fadeInRight animated">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name *" id="name" required>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Subject *" id="subject" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                                <div id="success"></div>
                                <button type="submit" class="polo-btn contact-submit"><i class="ion-paper-airplane"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger error">Error!  E-mail must be valid and message must be longer than 1 character.</div>
                    <div class="alert alert-success success">Your message has been sent successfully.</div>
                </form>
            </div><!--/send mail-->
        </div><!--/row-->
    </div>
    <div class="clearfix"></div>
</section>


<!-- ****************************** Footer ************************** -->
<section id="footer" class="block">
    <div class="container text-center">
        <div class="footer-logo">
            <h1>L U C Y</h1>
        </div>
        <ul class="social-icons">
            <li class="wow animated fadeInLeft facebook"><a href="#"><i class="ion-social-facebook"></i></a></li>
            <li class="wow animated fadeInRight twitter"><a href="#"><i class="ion-social-twitter"></i></a>
            <li class="wow animated fadeInLeft linkedin"><a href="#"><i class="ion-social-linkedin"></i></a></li>
            <li class="wow animated fadeInRight googleplus"><a href="#"><i class="ion-social-googleplus-outline"></i></a></li>
            <li class="wow animated fadeInRight github"><a href="#"><i class="ion-social-github"></i></a>
        </ul>

        <div class="copyright">
            <div class="credits">
                Made With <i class="ion-heart"></i> by <a href="http://www.themewagon.com" target="_blank">ThemeWagon</a>
            </div>
            <div>©2015 Your Company, All Rights Reserved</div>
        </div>
    </div><!-- container -->
</section>



<!-- ****************************** Back to top ************************** -->
<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>



<!-- All the scripts -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/about/libs/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/about/js/wow.min.js"></script>
<script type="text/javascript" src="/static/about/js/owl.carousel.js"></script>
<script type="text/javascript" src="/static/about/js/nivo-lightbox.min.js"></script>
<script type="text/javascript" src="/static/about/js/smoothscroll.js"></script>
<script type="text/javascript" src="/static/about/js/jquery.ajaxchimp.min.js"></script>
<script type="text/javascript" src="/static/about/js/script.js"></script>
<script type="text/javascript" src="/static/about/js/about.js"></script>
<script type="text/javascript" src="/static/about/js/validator.js"></script>

</body>
</html>
