<ul id="ul_school_list">
    {% for school in schools|slice:":3" %}
        <li class="li_list_school" sid="{{ school.id }}">{{ school.title }}</li>
    {% endfor %}
    <li class="no-data">총 {{ schools|length }}개의 학교가 검색되었습니다.</li>
</ul>
<script>
    $(".li_list_school").click(function(){
        $('.div_list_school').hide();
        $(".uschool").val($(this).text());
        $(".uschoolid").val($(this).attr('sid'));
        if($('#div_modal_mypage_ele1 #uschoolid').val() != "0"){
            $("#div_modal_mypage_ele1 #btn_mypage_ele_submit").removeAttr("disabled");
        }else{
            $("#div_modal_mypage_ele1 #btn_mypage_ele_submit").attr("disabled","disabled");
        }
    });
</script>