{% if user.id %}
    {% load home_extras %}
    {% if testpaper.is_exported  %}
        {% for group in groups %}
            <button class="btn btn-default btn_testpaper_group {% if group|get_group_checked:testpaper %}select{% endif %}" group_id="{{ group.id }}">{{ group.title }}</button>
        {% endfor %}
        <script>
            $("#div_testpaper_group{{ testpaper.id }} .btn_testpaper_group").click(function(){
                var groups = "";

                if($(this).hasClass('select')){
                    $(this).removeClass('select');
                }else{
                    $(this).addClass('select');
                }

                $("#div_testpaper_group{{ testpaper.id }} .btn_testpaper_group.select").each(function(i){
                    groups += $(this).attr('group_id')+",";
                });
                groups = groups.substring(0,groups.length-1);
                if(groups == '') groups = 0;

                $('#div_testpaper_group{{ testpaper.id }}').load("/testpaper/post/group/",{
                    'csrfmiddlewaretoken':$("#wrap > input[name=csrfmiddlewaretoken]").val(),
                    'tpid':'{{ testpaper.id }}',
                    'groups':groups
                });
                return false;
            });
        </script>
    {% else %}
        <button class="btn btn-default btn_testpaper_open">모바일 공개하기</button>
        <script>
            $("#div_testpaper_group{{ testpaper.id }} .btn_testpaper_open").click(function(){
                alert_show({
                    "type":"testpaper_group_open",
                    "title":"모바일 공개",
                    "contents":"모바일 공개 시 해당 출제문제는 수정할 수 없습니다.<br/>모바일 공개하시겠습니까?",
                    "load_id":'#div_testpaper_group{{ testpaper.id }}',
                    "url":"/testpaper/post/group/",
                    "data":{
                        'csrfmiddlewaretoken':$("#wrap > input[name=csrfmiddlewaretoken]").val(),
                        'tpid':'{{ testpaper.id }}',
                        'is_exported':'True'
                    },
                    "function":function(){
                    }
                });
                return false;
            });
        </script>
    {% endif %}
{% endif %}