<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="background-color:#f0f0f0">
<div style="position:absolute;width:900px;height:160px;left:50%;margin-left:-490px;background-color:#fff;padding:5px">
<div style="position:absolute;top:5px;left:5px;right:5px;bottom:5px;border: 3px solid #000;border-radius:10px;text-align:center">
<span style="background-color:#000;color:#fff;padding:5px 10px;font-size: 25px;border-radius:10px;float:left;margin:30px 0 0 20px;">수학</span>
<span style="background-color:#000;color:#fff;padding:5px 10px;font-size: 25px;border-radius:10px;float:right;margin:30px 20px 0 0;">{{year}}학년</span>
<p style="position:absolute;left:50%;margin-left:-350px;width: 700px;margin-top:30px;text-align:center;font-size:35px;font-weight:700;;word-break: keep-all">{{title}}</p>
<table style="position: absolute;width:100%;bottom: 0;text-align: center;font-size: 15px;border-top:1px solid #eee;padding:0 12%;">
<tbody><tr>
<td valign="top" style="padding-top:8px;font-size: inherit;height: 40px;">{{school}}</td>
<td valign="top" style="padding-top:8px;font-size: inherit;">{{year}}학년</td>
<td valign="top" style="padding-top:8px;font-size: inherit;">(<span style="position:relative;margin:0 20px;">&nbsp;</span>)반</td>
<td valign="top" style="padding-top:8px;font-size: inherit;">(<span style="position:relative;margin:0 20px;">&nbsp;</span>)번</td>
<td valign="top" style="padding-top:8px;font-size: inherit;">이름(<span style="position:relative;margin:0 60px;">&nbsp;</span>)</td>
</tr>
</tbody></table>
</div>
</div>
</body>
</html>